@use '../contsants/COLORS.scss';
@use '../contsants/FONTS.scss';

.row-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: COLORS.$bg solid;
}

.filters-container{
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
}

.filter-container input{
  width: 10vw;
  height: 30px;
  border: COLORS.$boxBorder;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0 5%;
  margin: 10px 0;
}

.name{
  font-size: FONTS.$responsive-size;
  font-weight: 600;
  width: 15%;
  text-align: center;
  word-wrap: break-word;
}

.phone{
  font-size: FONTS.$responsive-size;
  font-weight: 600;
  width: 25%;
  text-align: center;
  word-wrap: break-word;
}

.address{
  font-size: FONTS.$responsive-size;
  font-weight: 600;
  width: 35%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis
}

.empty-div {
  width: 30%;
}
